<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="https://scissorandboom.co.nz/" />

    <title>Scissor And Boom | Rent Reliable Height Access Equipment in NZ</title>

    <meta name="description" content="Need scissor lifts, boom lifts, or other height access equipment for your projects in New Zealand? Scissor And Boom provides safe, efficient, and reliable rentals for all your elevated work needs. Get a quote today!">

    <meta name="keywords" content="height access equipment, scissor lifts, scissor lift, boom lift, boom lift nz, scissor lift nz, scissor lifts nz, scissor lifts auckland, boom lifts auckland, boom lift auckland, scissor lift auckland, boom lifts, rental, New Zealand, construction, maintenance, projects">

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "Scissor And Boom",
      "image": "https://scissorandboom.co.nz/images/logo-1.png",
      "url": "https://scissorandboom.co.nz/",
      "telephone": "0800 250 081",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "P.O. Box 204136",
        "addressLocality": "Highbrook",
        "addressRegion": "Auckland",
        "postalCode": "2161",
        "addressCountry": "New Zealand"
      },
      "description": "New Zealand's trusted name in height access equipment rentals. Offering reliable scissor lifts, boom lifts, and more for your elevated work needs.",
      "openingHours": "Mo-Fr 08:00-17:00",
      "sameAs": [
        "https://www.facebook.com/ScissorAndBoom",
        "https://x.com/Scissorandboom"
      ]
    }
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="/vendor/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendor/owl-carousel/owl.theme.default.min.css">

    <link rel="stylesheet" href="/css/style.css">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2BPVWSX5SX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-2BPVWSX5SX');
    </script>
</head>
<body>

<!-- Header -->
<nav class="border-bottom bg-black">
    <div class="container d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none mb-3 mb-lg-0 me-lg-auto py-2">
            <img src="/images/logo-1.png" alt="Scissor and Boom Logo" style="width: 300px;">
        </a>
        <div class="col-12 col-lg-auto mb-3 mb-lg-0 d-block d-sm-flex align-items-center">
            <img src="/images/call.jpg" alt="Contact Phone Number" style="width: 200px;">
            <img src="/images/email.jpg" alt="Contact Email" style="width: 300px;">
        </div>
    </div>
</nav>
<header class="border-bottom">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav text-uppercase mt-3 mt-sm-0">
                        <li class="nav-item me-4">
                            <a class="nav-link px-4 px-sm-4 navbar-active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item me-4">
                            <a class="nav-link px-4 px-sm-4" href="/equipment">Equipment</a>
                        </li>
                        <li class="nav-item me-4">
                            <a class="nav-link px-4 px-sm-4" href="/about-us">About Us</a>
                        </li>
                        <li class="nav-item me-4">
                            <a class="nav-link px-4 px-sm-4" href="/contact-us">Contact Us</a>
                        </li>
                        <li class="nav-item me-4">
                            <a class="nav-link px-4 px-sm-4" href="/book-online">Book Online</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<!-- Hero Section-->
<section class="hero pb-0 pb-sm-5">
    <div class="container py-5">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-6 py-4 text-white">
                <h1 class="text-uppercase fw-bold">Scissor and boom height access ltd</h1>
                <p>Welcome to Scissor and Boom, your ultimate destination for top-quality height access equipment solutions. We are a leading rental company dedicated to providing safe, efficient, and reliable equipment to meet all your vertical access needs. Whether you're working on construction projects, maintenance tasks, or any job that requires reaching heights, our extensive fleet of state-of-the-art equipment is at your disposal.</p>
                <a href="/about-us" class="btn text-white p-3" style="border: 1px solid #fff;">Read More</a>
            </div>
            <div class="col-md-6 pb-5 px-sm-5">
                <div class="px-0 px-sm-5">
                    <div class="card m-0 m-sm-3 py-4" style="background: rgba(0, 0, 0, 0.5);">
                        <div class="card-body">
                            <h3 class="card-title text-uppercase text-custom">Inquire Now</h3>
                            <p class="text-white">We will call you right back!</p>
                            <form action="https://formspree.io/f/mgejvdjp" method="POST" enctype="multipart/form-data">
                                <input type="text" class="form-control mb-2 text-white" name="full_name" placeholder="Full Name" style="background: rgba(0, 0, 0, 0.10);" required>
                                <input type="text" class="form-control mb-2 text-white" name="phone_number" placeholder="Phone Number" style="background: rgba(0, 0, 0, 0.10);" required>
                                <textarea class="w-100 text-white p-2" name="message" placeholder="Message" style="background: rgba(0, 0, 0, 0.10);"></textarea>
                                <button type="submit" class="btn bg-custom text-white w-100 text-uppercase">Send Message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Home Section 1 -->
<section class="h-section-1" style="overflow: hidden;">
    <div class="container py-5">
        <div class="row py-5 d-flex align-items-center justify-content-center">
            <div class="col-md-6 d-flex justify-content-center">
                <img src="/images/image-1.jpg" class="w-50 ms-3 ms-sm-0 py-5">
            </div>
            <div class="col-md-6">
                <img src="/images/welcome.jpg" style="width: 300px;">
                <h3 class="py-3">Your Trusted Partner for Height Access Solutions</h3>
                <p>With a strong focus on innovation and efficiency, our recent projects have spanned across various industries, ranging from construction and infrastructure development to industrial expansions and facility renovations. We have collaborated with visionary clients, architects, and engineers to deliver outstanding results that not only meet expectations but also exceed them.</p>
                <a href="/about-us" class="btn bg-custom text-white text-uppercase">Read More</a>
            </div>
        </div>
    </div>
</section>

<!-- Features -->
<section class="features">
    <div class="container py-5">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-12 py-4 text-white">
                <h1 class="text-uppercase text-custom mt-3 text-center fw-bold">Featured Equipment</h1>
            </div>
        </div>
    </div>
</section>
<div class="features-con">
    <div class="container">
        <div class="owl-carousel">
            <div class="card mx-0 mx-sm-2">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <div>
                        <img src="/images/1212E.png" style="margin-bottom: -60px;">
                        <a href="/equipment" class="d-flex align-items-center justify-content-center text-decoration-none text-dark">
                            <img src="/images/0608ME.png" class="d-none d-md-block" style="width: 50px;">
                            <p class="px-3 pe-4 mt-4">Electric Scissor Lift</p>
                            <i class="bi-arrow-right d-none d-md-block"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card mx-0 mx-sm-2">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <div>
                        <img src="/images/1618RD.jpg" style="margin-bottom: -60px;">
                        <a href="/equipment" class="d-flex align-items-center justify-content-center text-decoration-none text-dark">
                            <img src="/images/1018RD.jpg" class="d-none d-md-block" style="width: 50px;">
                            <p class="px-3 pe-4 mt-4">Rough Terrain Scissor Lift</p>
                            <i class="bi-arrow-right d-none d-md-block"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card mx-0 mx-sm-2">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <div>
                        <img src="/images/AB18J.png" style="margin-bottom: -60px;">
                        <a href="/equipment" class="d-flex align-items-center justify-content-center text-decoration-none text-dark">
                            <img src="/images/AB15J.png" class="d-none d-md-block" style="width: 50px;">
                            <p class="px-3 pe-4 mt-4">Diesel Boom Lift</p>
                            <i class="bi-arrow-right d-none d-md-block"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Recent Projects -->
<div class="r-projects">
    <div class="container py-5">
        <h1 class="text-uppercase text-custom pt-4 text-center fw-bold">Recent Projects</h1>
        <h5 class="text-center pb-5">Elevating Success and Redefining Possibilities</h5>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-sm-12 col-lg-6 pe-sm-0">
                <img src="/images/recent-projects.jpg" class="w-100">
            </div>
            <div class="col-sm-12 col-lg-6 ps-sm-0">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card bg-light py-3">
                                <div class="card-body">
                                    <h4>Elevating Brands: Signage Installation at New Papatoetoe Warehouse</h4>
                                    <p>Our state-of-the-art height access equipment was crucial in the recent installation of eye-catching signage at a new warehouse in Papatoetoe. Thanks to our reliable gear, the project was completed seamlessly and on schedule.</p>
                                    <button class="btn bg-custom text-white text-uppercase">Show Projects</button>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card bg-light py-3">
                                <div class="card-body">
                                    <h4>Securing Safety: Fire System Servicing at Whenuapai Airforce Base</h4>
                                    <p>We recently supplied cutting-edge height access equipment for the servicing of fire systems at Whenuapai Air Force Base. With our gear, technicians were able to swiftly and safely complete inspections and updates, ensuring the base's critical safety infrastructure remains top-notch.</p>
                                    <button class="btn bg-custom text-white text-uppercase">Show Projects</button>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card bg-light py-3">
                                <div class="card-body">
                                    <h4>Reaching New Heights: Major Expansion in Auckland's Premier Industrial Area</h4>
                                    <p>Recently, we supplied top-of-the-line height access equipment for a major expansion in Auckland's Highbrook industrial region. Our gear played a key role in the construction of a new 12,000sqm factory, and client feedback has been stellar. If you're taking your industrial project to new heights in Auckland, we're your first call.</p>
                                    <button class="btn bg-custom text-white text-uppercase">Show Projects</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Customer Feedback -->
<div class="customer-feedback bg-light">
    <div class="container py-5">
        <h1 class="text-uppercase text-custom pt-4 pb-5 text-center fw-bold">Customer Feedback</h1>
        <div class="owl-carousel">
            <div class="card">
                <div class="card-body">
                    <div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5>Sarah W</h5>
                                <p>Event Coordinator</p>
                            </div>
                            <img src="/images/p1.png" class="mt-2" style="width: 50px; height: 50px;">
                        </div>
                        <hr>
                        <small>"A lifesaver for our event setup! We organized a large outdoor festival and needed several boom lifts to set up lighting and decorations. Scissor and Boom came to our rescue with their prompt and professional service. The team provided a seamless rental process, delivered the equipment on time, and even offered on-site training for our crew. Their dedication to safety and customer satisfaction is unmatched. We'll definitely be using their services for future events!"</small>
                    </div>
                </div>
            </div>
            <div class="card mx-3">
                <div class="card-body">
                    <div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5>Jono C</h5>
                                <p>Director</p>
                            </div>
                            <img src="/images/p2.png" class="mt-2" style="width: 50px; height: 50px;">
                        </div>
                        <hr>
                        <small>"Exceptional service and top-notch equipment! I recently rented a scissor lift from Scissor and Boom for a construction project, and I couldn't be happier with my experience. The team was extremely knowledgeable and helped me choose the perfect lift for my needs. The equipment was in pristine condition and performed flawlessly throughout the project. I highly recommend Scissor and Boom for anyone in need of reliable height access solutions!"</small>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5>Mark T</h5>
                                <p>General Manager</p>
                            </div>
                            <img src="/images/p3.png" class="mt-2" style="width: 50px; height: 50px;">
                        </div>
                        <hr>
                        <small>"Outstanding support and unbeatable value! As a property maintenance company, we rely on dependable aerial platforms for various tasks. Scissor and Boom has become our go-to partner for height access equipment rentals. Their team is responsive, accommodating, and always goes the extra mile to ensure we have the right equipment when we need it. It's been a pleasure working with them, and we highly recommend their services to anyone in the industry."</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="/images/layout-1.png" class="w-100">
</div>

<!-- Footer -->
<div class="footer bg-black">
    <div class="container py-2 py-sm-0">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-4">
                <div class="p-5">
                    <img src="/images/logo-2.png" class="w-100">
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div>
                    <h3 class="text-uppercase text-white">Quick Links</h3>
                    <a href="/" class="text-decoration-none text-white"><i class="bi bi-caret-right"></i> Home</a> <br>
                    <a href="/equipment" class="text-decoration-none text-white"><i class="bi bi-caret-right"></i> Equipment</a> <br>
                    <a href="/about-us" class="text-decoration-none text-white"><i class="bi bi-caret-right"></i> About Us</a> <br>
                    <a href="/contact-us" class="text-decoration-none text-white"><i class="bi bi-caret-right"></i> Contact Us</a> <br>
                    <a href="/terms-and-conditions" class="text-decoration-none text-white"><i class="bi bi-caret-right"></i> Terms and Conditions</a> <br>
                    <a href="/book-online" class="text-decoration-none text-white"><i class="bi bi-caret-right"></i> Book Online</a>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center mt-3 mt-sm-0">
                <div>
                    <h3 class="text-uppercase text-white">Social Media</h3>
                    <a href="https://www.facebook.com/scissorandboom" target="_blank">
                        <img src="/images/fb.png" style="width: 30px;"> <span class="text-white">Facebook</span>
                    </a> <br>
                    <a href="https://x.com/Scissorandboom" target="_blank">
                        <img src="/images/xlogo.png" style="width: 30px;"> <span class="text-white">X</span>
                    </a> <br>
                    <a href="https://www.linkedin.com/in/scissorandboom" target="_blank">
                        <img src="/images/in.png" style="width: 30px;"> <span class="text-white">LinkedIn</span>
                    </a> <br>
                    <a href="https://www.instagram.com/scissorandboom" target="_blank">
                        <img src="/images/instagram.png" style="width: 30px;"> <span class="text-white">Instagram</span>
                    </a>
                </div>
            </div>
            <hr class="mt-3 text-white">
            <div class="d-block d-md-flex justify-content-between text-white">
                <p class="m-0">Copyright &copy; 2023 Scissor And Boom. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="/vendor/owl-carousel/owl.carousel.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
